# ===== OS =====
.DS_Store

# ===== Dart / Flutter =====
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/

# (opcional) se você gerar docs localmente
doc/api/

# ===== IDEs =====
# IntelliJ / Android Studio
.idea/
*.iml

# VS Code
.vscode/

# ===== Android =====
android/.gradle/
android/local.properties
**/android/captures/

# Keystores / signing
**/android/key.properties
*.jks
*.keystore

# ===== iOS / macOS =====
# CocoaPods
ios/Pods/
macos/Pods/

# Xcode user data
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
macos/Runner.xcworkspace/xcuserdata/
macos/Runner.xcodeproj/xcuserdata/

# Derived data & build outputs
**/DerivedData/
**/*.xcuserstate
